# Environment variables template
FAO_BASE_URL=https://fao.ge.ch
HEADLESS=false
BROWSER_PROFILE_DIR=./data/browser_profile
SITG_REST_URL=https://vector.sitg.ge.ch/arcgis/rest/services
DB_PATH=./data/state/state.sqlite
